<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ title | ronaldify }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% set css %}
    {% include "../screen.css" %}
    {% include "../prism.css" %}
  {% endset -%}
  <style>{{ css | cssmin | safe }}</style>
</head>

<body>
<h1><a href="/" title="Back to start">Ronald Evers</a></h1>
{{ content | safe }}
<script>{% include "../microanalytics.js" %}</script>
</body>
</html>
