---
layout: default
---

<article>
  <header>
    <h1>
      {{ title }}
      <br />
    </h1>
    {{ page.date | formatDate | safe}}
  </header>

  {{ content | safe }}

</article>

<hr>

<h2>Comments</h2>
<form name="comment" method="POST" data-netlify="true">
  <input type="hidden" name="url" value="https://ronaldevers.nl{{ page.url }}">
  <p>
    <label>Your Name: <input type="text" name="name" required></label>
  </p>
  <p>
    <label>Your Email (will not be published): <input type="email" name="email" required></label>
  </p>
  <p>
    <label>
      Comment:<br>
      <textarea rows="10" cols="80" name="comment" required></textarea>
    </label>
  </p>
  <p>
    <button type="submit">Send</button>
  </p>
</form>
