html {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  line-height: 1.5rem;
}

body {
  /* font-weight: 300; */
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  width: 800px;
}

h1#top {
  font-family: "Open Sans", sans-serif;
  font-size: 3rem;
  font-weight: 800;
  letter-spacing: -0.05em;
  text-align: center;
}

#top a,
#top a:hover,
#top a:active,
#top a:focus {
  background: white;
  color: #67bf3b;
  text-decoration: none;
}

nav ul {
  list-style: none;
  margin: 2em 0 0;
  padding: 0;
  text-align: center;
}

nav li {
  display: inline;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  line-height: 2em;
  margin: 0 0.5em;
  vertical-align: middle;
}

nav a {
  padding: 6px 14px;
  text-decoration: none;
}

hr {
  background: #67bf3b;
  border: none;
  color: #67bf3b;
  height: 2px;
  margin: 20px 0;
}

a {
  color: black;
}

#posts a:hover,
#posts a:active,
#posts a:focus,
article a:hover,
article a:active,
article a:focus {
  background: #67bf3b;
  text-decoration: none;
}

a.blue:hover,
a.blue:active,
a.blue:focus {
  background: #08f;
  color: #fff;
}
a.purple:hover,
a.purple:active,
a.purple:focus {
  background: #84b;
  color: #fff;
}
a.red:hover,
a.red:active,
a.red:focus {
  background: #f44;
  color: #fff;
}
a.pink:hover,
a.pink:active,
a.pink:focus {
  background: #f48;
  color: #fff;
}
a.orange:hover,
a.orange:active,
a.orange:focus {
  background: #f90;
  color: #fff;
}
a.green:hover,
a.green:active,
a.green:focus {
  background: #67bf3b;
  color: #fff;
}

time {
  color: gray;
  white-space: nowrap;
}

ul#posts {
  list-style: none;
  padding: 0;
}

#posts header {
  display: flex;
  justify-content: space-between;
}

#posts li {
  margin: 5px;
}

article h1 {
  font-family: "Open Sans", sans-serif;
  /* font-size: 150%; */
  font-weight: 600;
}

article {
  margin: 0 10px;
}

figure pre {
  padding: 1rem 2rem;
}

.previous-and-next {
  display: flex;
  justify-content: space-between;
}
