body,
nav li {
  font-family: 'Open Sans', sans-serif;
}

body {
  font-size: .88em;
  font-weight: 300;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  width: 800px;
}

p,
li {
  text-align: justify;
}

h1#top {
  font-size: 3em;
  font-weight: 800;
  letter-spacing: -0.05em;
  text-align: center;
}

#top a,
#top a:hover,
#top a:active,
#top a:focus {
  background: white;
  color: #67bf3b;
  text-decoration: none;
}

nav ul {
  list-style: none;
  margin: 2em 0 0;
  padding: 0;
  text-align: center;
}

nav li {
  display: inline;
  font-weight: 600;
  line-height: 2em;
  margin: 0 0.5em;
  vertical-align: middle;
}

nav a {
  padding: 6px 14px;
  text-decoration: none;
}

hr {
  background: #67bf3b;
  border: none;
  color: #67bf3b;
  height: 5px;
  margin: 20px 0;
}

a {
  color: black;
}

#posts li a,
article a {
  padding: 2px 4px;
}

#posts a:hover,
#posts a:active,
#posts a:focus,
article a:hover,
article a:active,
article a:focus {
  background: #67bf3b;
  text-decoration: none;
}

a.blue:hover,   a.blue:active,   a.blue:focus   { background: #08f; color: #fff }
a.purple:hover, a.purple:active, a.purple:focus { background: #84b; color: #fff }
a.red:hover,    a.red:active,    a.red:focus    { background: #f44; color: #fff }
a.pink:hover,   a.pink:active,   a.pink:focus   { background: #f48; color: #fff }
a.orange:hover, a.orange:active, a.orange:focus { background: #f90; color: #fff }
a.green:hover,  a.green:active,  a.green:focus  { background: #67bf3b; color: #fff }

.date {
  color: gray;
  font-family: "Courier New";
  font-size: 80%;
}

article .date {
  font-size: 60%;
}

ul#posts {
  list-style: none;
}

#posts li {
  margin: 5px;
}

article h1 {
  font-size: 150%;
  font-weight: 600;
}

article {
  margin: 0 10px;
}

.syntaxhighlighter {
  padding: 5px;
}
