<!DOCTYPE html>

<title>{{ page.title }} - Ronald Evers</title>

<meta content-type="utf-8">

<meta name="author" content="Ronald Evers" />
<meta name="reply-to" content="mail@ronaldevers.nl" />

<link type="text/css" rel="stylesheet" href="/screen.css" />

<!-- syntax highlighter -->
<link rel="stylesheet" href="/sh/styles/shCore.css" />
<link rel="stylesheet" href="/sh/styles/shThemeRDark.css" />
<script src="/sh/scripts/shCore.js"></script>
<script src="/sh/scripts/shBrushAppleScript.js"></script>
<script src="/sh/scripts/shBrushBash.js"></script>
<script src="/sh/scripts/shBrushCpp.js"></script>
<script src="/sh/scripts/shBrushXml.js"></script>

<script type="text/javascript">
	SyntaxHighlighter.defaults['toolbar'] = false;
	SyntaxHighlighter.defaults['gutter'] = false;
	SyntaxHighlighter.all();
</script>


<h1><a href='/'>ronaldevers.nl</a></h1>

<nav>
	<ul class="about-me">
		<li><a class="pink" href="http://nl.linkedin.com/in/ronaldpaulusevers">linkedin</a></li>
		<li><a class="orange" href="http://github.org/ronaldevers">github</a></li>
		<li><a class="red" href="http://xkcd.org/300" title="No, I don't do facebook.">facebook</a></li>
		<li><a class="blue" href="mailto:mail@ronaldevers.nl">mail</a></li>
	</ul>
</nav>


<hr />


{{ content }}
