<!DOCTYPE html>

<title>{{ page.title }} - Ronald Evers</title>

<meta content-type="utf-8" />

<meta name="author" content="Ronald Evers" />
<meta name="reply-to" content="mail@ronaldevers.nl" />

<link
  href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,800"
  rel="stylesheet"
  type="text/css"
/>

<link type="text/css" rel="stylesheet" href="/screen.css" />
<link type="text/css" rel="stylesheet" href="/pygments-zenburn.css" />

<h1 id="top"><a href="/">ronaldevers.nl</a></h1>

<nav>
  <ul>
    <li>
      <a class="pink" href="http://nl.linkedin.com/in/ronaldpaulusevers"
        >linkedin</a
      >
    </li>
    <li><a class="orange" href="http://github.com/ronaldevers">github</a></li>
    <li>
      <a class="red" href="http://xkcd.org/300" title="No, I don't do facebook."
        >facebook</a
      >
    </li>
    <li><a class="blue" href="mailto:mail@ronaldevers.nl">mail</a></li>
  </ul>
</nav>

<hr />

{{ content }}
