---
layout: default
---

<article>
  <header>
    <h1>
      » {{ page.title }}
      <br />
    </h1>
    <time datetime="{{ page.date | date: '%F' }}"
      >{{ page.date | date_to_string }}</time
    >
  </header>

  {{ content }}

  <footer>
    <hr />
    <div class="previous-and-next">
      {% if page.previous.url %}
      <a class="previous" href="{{ page.previous.url }}"
        >« {{ page.previous.title }}</a
      >
      {% endif %} {% if page.next.url %}
      <a class="next" href="{{ page.next.url }}">{{ page.next.title }} »</a>
      {% endif %}
    </div>

    <hr />

    <div id="disqus_thread"></div>
    <script>
      var disqus_config = function () {
        const url = "http://ronaldevers.nl{{ page.url }}";
        this.page.url = url;
        this.page.identifier = url;
      };
      (function () {
        // DON'T EDIT BELOW THIS LINE
        var d = document,
          s = d.createElement("script");
        s.src = "https://ronaldevers-nl.disqus.com/embed.js";
        s.setAttribute("data-timestamp", +new Date());
        (d.head || d.body).appendChild(s);
      })();
    </script>
    <noscript
      >Please enable JavaScript to view the
      <a href="https://disqus.com/?ref_noscript"
        >comments powered by Disqus.</a
      ></noscript
    >
  </footer>

  <hr />
</article>
